.container {
  .wrapper {
    .content-wrapper {
      padding: 0;

      .chat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 12px 0;

        h4 {
          display: inline-flex;
          align-items: center;
          gap: 12px;
          color: #3e9ddd;

          img {
            width: 30px;
            object-fit: contain;
          }

          span {
            font-weight: 500;
            color: #3e9ddd;
          }
        }
      }
    }
  }
}
